@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi there!</h1>
    <p>I'm Jonathan, a 23 yo developer from Brazil! I'm currently learning .NET Core MVC because I want to improve my skills in order to keep working with this amazing language made by Microsoft!</p>
    <p>This is a simple project, which the goal is make a basic CRUD using the MVC concept. Besides .NET, I'm using Potgres as database.</p>
</div>
